#form {
  background-color: rgb(126, 96, 233);
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  display: none;
}
#search {
  height: 40px;
  margin-right: 20px;
  outline: none;
  border: none;
}
#pupularButton {
  margin-right: 10px;
  height: 40px;
  outline: none;
  border: none;
}
#main {
  margin-top: 20px;
  display: grid;
  gap: 15px;
  justify-content: space-between;
  grid-template-columns: repeat(4, 1fr);
}
.movie {
  width: 100%;
  background-color: rgb(126, 96, 233);
  color: rgb(255, 255, 255, 0.75);
}
.image {
  width: 100%;
}
.info-container {
  font-size: 20px;
  padding: 0px 20px 10px;
}
.title {
  text-align: center;
}
.movie-info span.green {
  color: green;
}
.movie-info span.orange {
  color: orangered;
}
.movie-info span.red {
  color: red;
}

#searchForm {
  width: 20%;
  margin: auto;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 200px;
  height: 200px;
  background-color: rgb(126, 96, 233);
  text-align: center;
}
#search2 {
  width: 50%;
  border-radius: 10px;
  outline: none;
}
